* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

a {
  color: #d17d08;
  font-weight: 600;
  text-decoration: underline;
}

/* Title Style  */

.title {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #ff9e16;
  font-family: "Kaushan Script", cursive;
  margin-bottom: -50px;
}

/* Main Style  */

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

/* ----Main Left Side Style--- */

.container-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.login-image {
  padding: 60px 0 0 100px;
  width: 80%;
  height: 80%;
}

/* ---Main Right Side Style--- */

.container-item-right {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 110px;
  flex-direction: column;
}

.form-top {
  display: flex;
  width: 80%;
  padding-bottom: 40px;
  border: 2px solid #f8b454 ;
  border-radius: 10px;
  box-shadow: 2px 5px 25px 10px #f8b45423 ;
}

.container-form {
  padding-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.label-1 {
  font-size: 20pt;
}

.label-2 {
  font-size: 12pt;
  padding: 10px 0 0 0;
  color: #535151;
}

.form-link {
  display: flex;
  width: 75%;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 15px;
}

.email {
  padding: 20px 0 2px 15px;
}

.input-form {
  border: 0px;
  background: #f8d39f;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 12pt;
  outline: none;
}

.submit-list {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.input-submit {
  width: 30%;
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  background: #ff9e16;
  color: #ffffff;
  letter-spacing: 7px;
  font-size: 12pt;
  font-weight: 900;
  outline: none;
}

.input-submit:hover {
  background: #f8b454;
  cursor: pointer;
}

.input-forgot {
  color: #5f5a5a;
  text-decoration: none;
  padding: 15px 10px 0 0;
}

.form-bottom{
  display: flex;
  justify-content: center;
  font-size: 13pt;
  width: 80%;
  margin-top: 10px;
  border: 2px solid #f8b454 ;
  border-radius: 10px;
  box-shadow: 2px 5px 25px 10px #f8b45423 ;
}

.form-text-bottom {
  padding: 10px;
}

/* Footer Style  */

.footer-bottom {
  display: flex;
  color: #5f5a5a;
  padding-top: 50px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
