* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

.title {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #ff9e16;
  font-family: "Kaushan Script", cursive;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-image {
  padding: 20px 0 0 100px;
  width: 80%;
  height: 80%;
}

.container-form {
  padding-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.label-1 {
  font-size: 20pt;
}

.label-2 {
  font-size: 12pt;
  padding: 10px 0 0 0;
  color: #535151;
}

.form-link {
  display: flex;
  width: 75%;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 15px;
}

.email {
  padding: 20px 0 2px 15px;
}

.input-form {
  border: 0px;
  background: #f8d39f;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 12pt;
}

.submit-list {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.input-submit {
  width: 30%;
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  background: #ff9e16;
  color: #ffffff;
  letter-spacing: 7px;
  font-size: 12pt;
  font-weight: 900;
}

.input-submit:hover {
  background: #f8b454;
  cursor: pointer;
}

.input-forgot {
    color: #5f5a5a;
    text-decoration: none;
    padding: 15px 10px 0 0;
}